<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模板继承</title>
</head>
<body>
        {% block headr %}
            <div>
                {% if request.user and request.user.username != '' %}
                 用户名:{{request.user.username}} <a href="{% url 'polls:logout' %}">退出</a>
                {% else %}
                <a href="{% url 'polls:login' %}">登录</a> <a href="{% url 'polls:regist' %}">注册</a>
                {% endif %}

            </div>




        {% endblock %}
        {% block body %}
            这里是身体
        {% endblock %}
        {% block footer %}
        这里是尾部
        {% endblock %}
</body>
</html>