<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
     <h1>这里是首页</h1>
    {% for book in books %}
     <ul>
         <a href="{% url 'booktest:detail' book.id %}">
        {{book.id}}--{{book.title}}--{{book.price}}
         </a>
         <a href="{% url 'booktest:delete' book.id %}">删除</a>
         <a href="{% url 'booktest:editbook' book.id %}">修改书籍信息</a>
     </ul>

    {% endfor %}
     <a href="{% url 'booktest:addbook' %}">增加书籍</a>


</body>
</html>